{# 
    TODO document me

        variables
            * date
            * active_page
            * title


        blocks:
            * body
            * javascript?
#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Markus Gräb">

    <title>Markus' Homepage</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='sakura.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}" type="text/css">


    <!-- favicon stuff -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

</head>

<body>


{% set navigation_bar = [
    ('index', 'Index'),
    ('articles', 'Articles / Projects'),
    ('photos', 'Photography'),
    ('about', 'About') ] %}

{# set active_page in layout #}
{% set active_page = active_page | default('index') %}

<div id=main>
    <div id=nav>
        <ul>
            {% for ref, name in navigation_bar %}

                {% if ref == active_page %}
                    <li class="active">
                        {% else %}
                    <li>
                {% endif %}
                <a href="{{ url_for(ref) }}"> {{ name }} </a>
            </li>
            {% endfor %}
        </ul>
    </div>


    <div id="content">
        <div id=content_header>
            <h1>{{ title }}</h1>
            {% if date %}
                <div id=date>
                    <div>{{date}}</div>
                </div>
            {% endif %}
        </div>
        <hr/>
        {% block body %}
        {% endblock %}
    </div>

</div>

<link href="{{ url_for('static', filename='roboto/roboto.css') }}" rel="stylesheet">


{% block js %}
{% endblock %}
</body>
</html>
